### Student Information
Name:賴彥宇

Student ID:111062532

GitHub ID:gogodi1234

---

### Instructions

1. First: do the **take home** exercises in the [DM2022-Lab1-Master](https://github.com/keziatamus/DM2022-Lab1-Master). You may need to copy some cells from the Lab notebook to this notebook. __This part is worth 20% of your grade.__


2. Second: follow the same process from the [DM2022-Lab1-Master](https://github.com/keziatamus/DM2022-Lab1-Master) on **the new dataset**. You don't need to explain all details as we did (some **minimal comments** explaining your code are useful though).  __This part is worth 30% of your grade.__
    - Download the [the new dataset](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences#). The dataset contains a `sentence` and `score` label. Read the specificiations of the dataset for details. 
    - You are allowed to use and modify the `helper` functions in the folder of the first lab session (notice they may need modification) or create your own.


3. Third: please attempt the following tasks on **the new dataset**. __This part is worth 30% of your grade.__
    - Generate meaningful **new data visualizations**. Refer to online resources and the Data Mining textbook for inspiration and ideas. 
    - Generate **TF-IDF features** from the tokens of each text. This will generating a document matrix, however, the weights will be computed differently (using the TF-IDF value of each word per document as opposed to the word frequency). Refer to this Sciki-learn [guide](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) .
    - Implement a simple **Naive Bayes classifier** that automatically classifies the records into their categories. Use both the TF-IDF features and word frequency features to build two seperate classifiers. Comment on the differences.  Refer to this [article](https://hub.packtpub.com/implementing-3-naive-bayes-classifiers-in-scikit-learn/).


4. Fourth: In the lab, we applied each step really quickly just to illustrate how to work with your dataset. There are somethings that are not ideal or the most efficient/meaningful. Each dataset can be habdled differently as well. What are those inefficent parts you noticed? How can you improve the Data preprocessing for these specific datasets? __This part is worth 10% of your grade.__


5. Fifth: It's hard for us to follow if your code is messy, so please **tidy up your notebook** and **add minimal comments where needed**. __This part is worth 10% of your grade.__


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/keziatamus/DM2022-Lab1-Homework/blob/main/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb). Make sure to commit and save your changes to your repository __BEFORE the deadline (October 20th 11:59 pm, Thursday)__.

# Data Preparation

In [35]:
### Begin Assignment Here
import pandas as pd
import helpers.data_mining_helpers as dmh

#Divide files into sentences and scores
amazon_sentence, amazon_score = dmh.split_txt('amazon_cells_labelled.txt') #split_txt => Split each of line in file with '\t'
imdb_sentence, imdb_score = dmh.split_txt('imdb_labelled.txt')
yelp_sentence, yelp_score = dmh.split_txt('yelp_labelled.txt')

#Merge 3 file to one sentence list and one score list
Sentence = amazon_sentence + imdb_sentence + yelp_sentence
Score = amazon_score + imdb_score + yelp_score
print(Sentence[:10])
print(Score[:10])

['So there is no way for me to plug it in here in the US unless I go by a converter.', 'Good case, Excellent value.', 'Great for the jawbone.', 'Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!', 'The mic is great.', 'I have to jiggle the plug to get it to line up right to get decent volume.', 'If you have several dozen or several hundred contacts, then imagine the fun of sending each of them one by one.', 'If you are Razr owner...you must have this!', 'Needless to say, I wasted my money.', 'What a waste of money and time!.']
['0', '1', '1', '0', '1', '0', '0', '1', '0', '0']

# Data Transformation

In [96]:
#use dictionary to construct dataframe
d = {'sentence' : Sentence, 'score' : Score}
X = pd.DataFrame(d)
X

                                               sentence score
0     So there is no way for me to plug it in here i...     0
1                           Good case, Excellent value.     1
2                                Great for the jawbone.     1
3     Tied to charger for conversations lasting more...     0
4                                     The mic is great.     1
...                                                 ...   ...
2995  I think food should have flavor and texture an...     0
2996                           Appetite instantly gone.     0
2997  Overall I was not impressed and would not go b...     0
2998  The whole experience was underwhelming, and I ...     0
2999  Then, as if I hadn't wasted enough of my life ...     0

[3000 rows x 2 columns]

In [78]:
len(X)

3000

In [38]:
X[0:2]

                                            sentence score
0  So there is no way for me to plug it in here i...     0
1                        Good case, Excellent value.     1

In [39]:
for t in X["sentence"][:3]:   
    print(t)

So there is no way for me to plug it in here in the US unless I go by a converter.
Good case, Excellent value.
Great for the jawbone.

In [40]:
X.loc[:10, 'sentence']

0     So there is no way for me to plug it in here i...
1                           Good case, Excellent value.
2                                Great for the jawbone.
3     Tied to charger for conversations lasting more...
4                                     The mic is great.
5     I have to jiggle the plug to get it to line up...
6     If you have several dozen or several hundred c...
7           If you are Razr owner...you must have this!
8                   Needless to say, I wasted my money.
9                      What a waste of money and time!.
10                      And the sound quality is great.
Name: sentence, dtype: object

In [41]:
X.iloc[:10, 0]

0    So there is no way for me to plug it in here i...
1                          Good case, Excellent value.
2                               Great for the jawbone.
3    Tied to charger for conversations lasting more...
4                                    The mic is great.
5    I have to jiggle the plug to get it to line up...
6    If you have several dozen or several hundred c...
7          If you are Razr owner...you must have this!
8                  Needless to say, I wasted my money.
9                     What a waste of money and time!.
Name: sentence, dtype: object

## Missing values

In [42]:
X.isnull()

      sentence  score
0        False  False
1        False  False
2        False  False
3        False  False
4        False  False
...        ...    ...
2995     False  False
2996     False  False
2997     False  False
2998     False  False
2999     False  False

[3000 rows x 2 columns]

In [43]:
X.isnull().apply(lambda x: dmh.check_missing_values(x))

                             sentence                               score
0  The amoung of missing records is:   The amoung of missing records is:
1                                   0                                   0

In [44]:
X.isnull().apply(lambda x: dmh.check_missing_values(x) , axis=1)

0       (The amoung of missing records is: , 0)
1       (The amoung of missing records is: , 0)
2       (The amoung of missing records is: , 0)
3       (The amoung of missing records is: , 0)
4       (The amoung of missing records is: , 0)
                         ...
2995    (The amoung of missing records is: , 0)
2996    (The amoung of missing records is: , 0)
2997    (The amoung of missing records is: , 0)
2998    (The amoung of missing records is: , 0)
2999    (The amoung of missing records is: , 0)
Length: 3000, dtype: object

In [45]:
dummy_series = pd.Series(["dummy_record"], index=["sentence"])
dummy_series

sentence    dummy_record
dtype: object

In [46]:
dummy_series.to_frame().T

       sentence
0  dummy_record

In [47]:
result_with_series = pd.concat([X, dummy_series.to_frame().T], ignore_index=True)

In [48]:
len(result_with_series)

3001

In [49]:
result_with_series.isnull().apply(lambda x: dmh.check_missing_values(x))

                             sentence                               score
0  The amoung of missing records is:   The amoung of missing records is:
1                                   0                                   1

In [50]:
# dummy record as dictionary format
dummy_dict = [{'sentence': 'dummy_record',
              }]

In [51]:
X = pd.concat([X, pd.DataFrame(dummy_dict)], ignore_index=True)

In [52]:
len(X)

3001

In [53]:
X.isnull().apply(lambda x: dmh.check_missing_values(x))

                             sentence                               score
0  The amoung of missing records is:   The amoung of missing records is:
1                                   0                                   1

In [54]:
X.dropna(inplace=True)

In [55]:
X.isnull().apply(lambda x: dmh.check_missing_values(x))

                             sentence                               score
0  The amoung of missing records is:   The amoung of missing records is:
1                                   0                                   0

In [56]:
len(X)

3000

## Duplicate Data

In [97]:
X.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [98]:
sum(X.duplicated())  #檢查...是否有true   每個colume的值都一樣才為duplicated

18

In [99]:
sum(X.duplicated('sentence'))  #There are 18 repeated sentences

18

In [100]:
X.drop_duplicates(keep=False, inplace=True)

In [101]:
len(X)   #keep=False => 3000-18*2=2964

2964

In [102]:
sum(X.duplicated())

0

## Sampling